<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class="card" *ngIf="program">
        <div class=" card-header container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="title">{{program.name}}</h3>
                </div>
                
                <div class="col-md-2">
                    <button class="btn btn-danger btn-simple pull-right" [routerLink]="['/program']" >Back</button> 
                </div>
            </div>
        </div>
        <div class="card-body">
          <blockquote class="blockquote">
            <button class="btn btn-success btn-simple btn-sm center pull-right" [routerLink]="['/edit-program', program._id]"  >Edit Program</button>
            <h4 class="card-title">Domain: <span style="color: #00F2C3;">{{program.domain}}</span></h4>
            <p class="card-text"> In Scope: <span style="color: #00F2C3;">{{program.scope}}</span></p>
            <p class="card-text"> ASNs: </p>
            <p class="card-text"> CIDRs: </p>
            <div class="row">
                &nbsp;
            </div>
            <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(1)" >Findomain</button>
            &nbsp;
            <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(2)" >Httprobe</button>
            &nbsp;
            <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(3)" >Aquatone</button>
            &nbsp;
            <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(4)" >Subjack</button>
            &nbsp;
            <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(5)" >Hakcheckurl</button>
            &nbsp;
            <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(6)" >Dirsearch</button>
            &nbsp;
            <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(7)" >Hakrawler</button>
            &nbsp;
            <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(8)" >LinkFinder</button>
            &nbsp;
            <!-- <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(9)" >GetJs</button>
            &nbsp; -->
            <button class="btn btn-primary btn-simple btn-sm center" (click)="showComponent(10)" >KeysFinder</button>
          </blockquote>
        </div>
      </div>

      <app-findomain *ngIf="openFindomain"></app-findomain>
      <app-httprobe *ngIf="openHttprobe"></app-httprobe>
      <app-aquatone *ngIf="openAquatone"></app-aquatone>
      <app-subjack *ngIf="openSubjack"></app-subjack>
      <app-hakcheckurl *ngIf="openHakcheckurl"></app-hakcheckurl>
      <app-dirsearch *ngIf="openDirsearch"></app-dirsearch>
      <app-hakrawler *ngIf="openHakrawler"></app-hakrawler>
      <app-linkfinder *ngIf="openLinkfinder"></app-linkfinder>
      <app-getjs *ngIf="openGetJs"></app-getjs>
      <app-zile *ngIf="openZile"></app-zile>


    </div>
  </div>
</div>


