
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" title">Findomain</h4>
          <p class=" category">
            
            <a href="https://github.com/Edu4rdSHL/findomain">Findomain Subdomain Scanner </a>
          </p>
        </div>
        <div class=" card-body all-icons">
          <div class=" row">
            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> Domain </label>
                <input
                  class=" form-control"
                  placeholder="example.com"
                  type="text"
                />
              </div>
              <button class="btn btn-primary btn-simple btn-sm center" [routerLink]="['/program']" >Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
