<div class="card" *ngIf="program">
  <div class=" card-header">
    <h4 class=" title">Findomain</h4>
    <p class=" category">
      
      <a href="https://github.com/Edu4rdSHL/findomain" target="_blank">Findomain Subdomain Scanner </a>
    </p>
  </div>
  <div class=" card-body">

    <blockquote class="blockquote">

      <div class=" row">


          <div class=" col-md-12 ">

            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>SCOPE</th>
                  <th class="text-right">ACTION &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let scope of scopeToArray; let i = index">
                  <td class="text-center">{{i+1}}</td>
                  <td>{{scope}}</td>
                  <td class="td-actions text-right">
                    <button class="btn btn-scope btn-simple btn-sm center pull-right" (click)="executeFindomain(scope)" >Execute</button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
 

      </div>  

    </blockquote>


  </div>
</div>